# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


# App paths are relative to this root .gitignore.
/ionic/.sourcemaps/
/ionic/.versions/
/ionic/coverage/

# Ionic
/ionic/.ionic/
www/
/ionic/platforms/
/ionic/plugins/

# Compiled output
/ionic/dist/
/ionic/tmp/
/ionic/out-tsc/
/ionic/bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/



# Miscellaneous
.angular/
.sass-cache/
/ionic/.nx/
/ionic/connect.lock
/ionic/libpeerconnection.log
testem.log
/ionic/typings/

# System files
.DS_Store
Thumbs.db
